<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Listado de usuarios</title>
</head>
<body>
	<table>
		<thead>
			<th>Nombre</th>
			<th>Edad</th>
		</thead>
		<!-- Aca lo que hacemos es iterar la lista personas, se lee por cada persona en la lista personas -->
		<!-- Por cada persona que exista en la lista va a agregar una fila en la tabla -->
		<tbody th:each="persona : ${personas}" >
			<tr>
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.edad}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>